body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 1141px;
    min-height: 100px;
    justify-content: space-between;
    padding: 20px 16px;
    margin: auto;
}

.first-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.burger {
    display: none;
}

.nav li a {
    text-decoration: none;
    font-family: 'Playfair Display';
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #30261D;
}

.second-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.second-block::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
}

.second-block::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
}

.divider {
    display: block;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    list-style: none;
    gap: 30px;
}

.logo {
    width: 61.52px;
    height: 40px;
}

.profile {
    width: 36px;
    height: 36px;
    cursor: pointer;
    background-image: url(img/profile.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

/* .slider {
    max-width: 1440px;
    margin: auto;
} */

.img-back {
    display: block;
    width: 100%;
    height: 550px;
}

.search {
    display: flex;
    max-width: 920px;
    height: 60px;
    margin: auto;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E3E3E3;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
}

.wrapper {
    display: flex;
    gap: 10px;
}

.search-image {
    width: 20px;
    height: 20px;
}

.search-input {
    border: none;
}

.goods-container {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    height: 322px;
    margin: auto;
    gap: 20px;
}

.text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container p {
    font-family: 'Playfair Display';
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #30261D;
}

.text-container a {
    text-decoration: none;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #C39D6B;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    justify-content: center;
    gap: 30px;
}

.item {
    position: relative;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    /* margin: auto; */
}

.heart-button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 5px;
    top: 5px;
    background: none;
    border-radius: 100%;
    border-width: 1px;
    cursor: pointer;
}

.heart-img {
    display: block;
    width: 15px;
    height: 15px;
    margin: auto;
}

.description {
    margin: 10px 20px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #30261D;
}

.buy {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.add-item {
    align-self: center;
}

.add {
    background-image: url("img/add.png");
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer;
}

@media (max-width: 860px) {
    .nav {
        display: none;
    }

    .burger {
        display: block;
    }
}